.top-bar .btn-top-bar {
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.btn-top-bar:hover {
  transform: none;
  cursor: pointer;
}

.top-bar {
  margin: 1rem 0;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2rem;
}
