.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 100vw; */
  align-items: center;
  background-color: aquamarine;
}

.logo {
  margin-left: 1rem;
  font-weight: 900;
  font-size: large;
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.theme-toggle {
  margin-right: 1.5rem;
}

button {
  padding-right: 1rem;
}
