.banner {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  margin: 0 4rem;
  /* flex-flow: wrap; */
}

.text-group {
  margin-top: 17%;
}

.text-group :nth-child(1) {
  font-size: 3rem;
}

.text-group :nth-child(2) {
  font-size: 1.5rem;
}

.right-image img {
  height: 500px;
  width: 500px;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem auto;
  text-align: center;
}
